.lead__subtitle {
  margin: 0 auto 64px;
  max-width: 640px;
  text-align: center;
  font-size: 30px;
  line-height: 120%;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    padding: 0 clamp(16px, 8vw, 64px);
    font-size: clamp(16px, 6vw, 30px);
  }
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    font-size: 16px;
    margin-bottom: 40px;
    line-height: 125%;
  }
}
